div {
    min-width:300px;
}

h2{
    width:70%;
    font-size:0.9em;
    background-color: #009879 ;
    color:#ffffff;
    margin: 0 auto;
    margin-top:25px;
    padding:5px 15px;
    padding-bottom:7px;
    text-align:center;
    font-weight:bold;
}

ul {
    list-style: none;
}

mat-card{
    background-color:#F9F9F9;
    margin:0 auto;
    margin-bottom:10px;
    position:relative;
    width:50%;
}
mat-card-title{
    font-size:1rem;
    font-family: "Comic Sans MS", cursive, sans-serif
}
mat-card button{
    position:absolute;
    right:10px;
    top:5px;
}